<nav class="nav-extended">
  <div class="container nav-content">
    <span class="nav-title"><%= t('.index') %></span>
    <div class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
      <%= link_to material_icon.add, new_branch_path %>
    </div>
  </div>
</nav>
<div class="container">
  <p id="notice"><%= notice %></p>
  <table class='striped bordered centered responsive-table'>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.number') %></th>
        <th><%= t('.status') %></th>
        <th><%= t('.section') %></th>
        <th colspan="1"></th>
      </tr17>
    </thead>
    <tbody>
      <% @branches.each do |branch| %>
        <tr>
          <td><%= branch.name %></td>
          <td><%= branch.number %></td>
          <td><%= t("activerecord.attributes.branch.statuses.#{branch.status}") %></td>
          <td><%= branch.section.initials %>
          </td>
          <td>
            <%= link_to material_icon.visibility, branch, class: 'btn' %>
            <%= link_to material_icon.edit, edit_branch_path(branch),
              class: 'btn' %>
            <%= link_to material_icon.delete, branch,
              method: :delete,class: 'btn red',
              data: { confirm: t('mensages.confirm_destroy') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @branches %>
</div>
<div class="fixed-action-btn">
  <div class="btn-floating btn-large waves-effect waves-light">
    <%= link_to material_icon.add, new_branch_path %>
  </div>
</div>
