<nav class="nav-extended">
  <div class="container nav-content">
    <span class="nav-title"><%= t('.sections') %></span>
    <div class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
      <%= link_to material_icon.add, new_section_path %>
    </div>
  </div>
</nav>
<div class="container">
  <p id="notice"><%= notice %></p>
  <table class='striped bordered centered responsive-table'>
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.initials') %></th>
        <th><%= t('.kind') %></th>
        <th><%= t('.status') %></th>
        <th colspan="1"></th>
      </tr17>
    </thead>
    <tbody>
      <% @sections.each do |section| %>
        <tr class='hoverable'>
          <td><%= section.name %></td>
          <td><%= section.initials %></td>
          <td><%= t("activerecord.attributes.section.kinds.#{section.kind}") %>
          <td><%= t("activerecord.attributes.section.statuses.#{section.status}") %></td>
          </td>
          <td>
            <%= link_to material_icon.visibility, section, class: 'btn' %>
            <%= link_to material_icon.edit, edit_section_path(section),
              class: 'btn' %>
            <%= link_to material_icon.delete, section,
              method: :delete,class: 'btn red',
              data: { confirm: t('mensages.confirm_destroy') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @sections %>
</div>
<div class="fixed-action-btn">
  <div class="btn-floating btn-large waves-effect waves-light">
    <%= link_to material_icon.add, new_section_path %>
  </div>
</div>
