<div class='container'>
  <div class="card">
    <div class="card-content">
      <spam class='card-title'><%= t '.new' %></spam>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class='row'>
          <div class="input-field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="input-field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <%=  f.check_box :remember_me, id: :remember_me %>
            <%= f.label t('.remember_me'), for: :remember_me %>
          <% end -%>

          <div class="actions">
            <br/>
            <%= f.submit t('.login'), class: 'btn' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-action">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
