<!DOCTYPE html>
<html>
  <head>
    <title>SisComSESA</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='navbar-fixed'>
        <nav>
          <div class="container">
            <div class="nav-wrapper">
              <%= link_to t('.application'), root_path, class: ['brand-logo center page-title'] %>
            </div>
          </div>
          <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><%= material_icon.menu %></a>
        </nav>
      </div>

      <!-- Sidenav -->
      <ul id="slide-out" class="side-nav">
          <li><div class="user-view">
            <div class="background">
              <%= image_tag 'pav_esa.jpg' %>
            </div>
            <a href="#!user"><%= image_tag 'pav_esa.jpg', class: 'circle' %></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div></li>
          <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
          <li><a href="#!">Second Link</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader"><%= t('.admin') %></a></li>
          <li>
            <%= link_to t('.post_graduation'), post_graduations_path, class: 'waves-effect'  %>
            <%= link_to t('.sections'), sections_path, class: 'waves-effect' %>
            <%= link_to t('.branches'), branches_path, class: 'waves-effect' %>
          </li>
        </ul>

    </header>
    <main>

        <%= yield %>

    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"><%= t('.owner') %></h5>
            <p class="grey-text text-lighten-4"><%= t('.mission') %></p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="https://webmail.esa.ensino.eb.br/">
                  <%= (material_icon.mail.md_18)%> <%=  t('.email') %>
                </a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="http://www.esa.ensino.eb.br">
                  <%= (material_icon.open_in_browser.md_18)%> <%=  t('.site') %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          2017
          <a class="grey-text text-lighten-4 right" href="mailto:diegobiavati@gmail.com"><%= (material_icon.report_problem.md_18)%> <%=  t('.contact')%></a>
        </div>
      </div>
    </footer>
  </body>
</html>
