<!DOCTYPE html>
<html>
  <head>
    <title>SisComSESA</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
          <%= link_to t('.application'), root_path, class: ['brand-logo center'] %>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li></li>
              <li><%= link_to t('.post_graduation'), post_graduations_path %></li>
              <li><%= link_to t('.admin'),  rails_admin_path  %></li>
            </ul>
        </div>
      </nav>
      <main>
        <div class="container">

          <%= yield %>

        </div>
      </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"><%= t('.owner') %></h5>
            <p class="grey-text text-lighten-4"><%= t('.mission') %></p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="https://webmail.esa.ensino.eb.br/">
                  <%= (material_icon.mail.md_18)%> <%=  t('.email') %>
                </a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="http://www.esa.ensino.eb.br">
                  <%= (material_icon.open_in_browser.md_18)%> <%=  t('.site') %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          2017
          <a class="grey-text text-lighten-4 right" href="mailto:diegobiavati@gmail.com"><%= (material_icon.mail.md_18)%> <%=  t('.contact')%></a>
        </div>
      </div>
    </footer>
  </body>
</html>
