<!DOCTYPE html>
<html>
  <head>
    <title>SisComSESA</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
          <%= link_to t('.application'), root_path, class: ['brand-logo center'] %>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li></li>
              <li><%= link_to t('.post_graduation'), post_graduations_path %></li>
              <li><%= link_to t('.admin'),  rails_admin_path  %></li>
            </ul>
        </div>
      </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
